<p>login works</p>
<div class="container">
  <div class="content">
    <h2>
       "
       Faça seu login
       "</h2>
       <p class="description">use seu email para criar uma conta.</p>

    <form #oginform = "ngForm" (ngSubmit) = "login()">

      <form class="form">


        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">



      <div class="form-group">

        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

        <button type="submit" class="btn btn-info">Login</button>
        <a class="password" href="#">Esqueceu a senha?</a>
    </form>
    </form>
</div>
