<p>login works</p>
<div class="container">
  <div class="content">
    <h1>
Faça seu login</h1>
       <p class="description">use seu email para criar uma conta.</p>

    <form #loginform = "ngForm" (ngSubmit) = "login()">

      <form class="form">


          <label class= "label-input" for="">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </label>

          <label class= "label-input" for="">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </label>


    </form>
    <label class="label-input">
      <a class="password" href="#">Esqueceu a senha?</a>
    </label>
    <form>
      <button type="submit" class="btn btn-info">Login</button>
    </form>

    </form>
</div>
