@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  display:  flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100vh;
}
.content{
  background-color: white;
  border-radius: 15px;
  width: 430px;
  height:50%;
  justify-content: center;
  position: relative;
  text-align: center;
}

.title{
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
.form{
  width: 92%;

}

.title{
  font-size: 28px;
  font-weight: bold;
}
.form input{
  height: 45px;
  width: 124%;
  border:none;
  background-color: #ecf0f1;
}
.password{
  font-size: 14px;
  margin: 15px 0;
  text-align:center ;
}
.btn{
  border-radius: 15px;
  text-transform: uppercase;
  color: #ffff;
  padding: 10px 50px;
}

