@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  display:  flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100vh;
}
.content{
  background-color: white;
  border-radius: 15px;
  width: 960px;
  height:50%;
  justify-content: center;
  position: relative;
}

.title{
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
.form-group{
  height:45px;
  width: 100%;
  border-radius: 25px;
}

